<button id='newRecipe' class='btn btn-large'>New Recipe</button>

<div class="input-append btn-group">
  <input id='recipeFilter' type="text"><button class="btn search" type='button'>Search</button><button class='btn dropdown-toggle' data-toggle='dropdown'><span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><label class="checkbox inline"><input id='searchIngredients' type="checkbox" checked>Search ingredients</label></li>
  </ul>
</div>
