<label for="ingredient{{index}}" class="control-label">Ingredients</label>
<div class="controls">
  <input id="ingredient{{index}}" placeholder="Ingredients" type="text" class="input-xlarge ingredient" value='{{ingredient}}'/>
</div>
