<form class="form-horizontal">
  <fieldset>
    <legend>Edit Recipe:</legend>
    <label for="name" class="control-label">Name:</label>
    <div class="controls">
      <input id="name" class='input-xlarge' type="text" placeholder='Recipe Name' value='{{name}}' />
    </div>
    <ul id="newIngredients" class='unstyled'></ul>
    <div class="form-actions">
      <button type='button' id='save' class="btn btn-primary">Save</button>
      <button type='button' id='cancel' class="btn">Cancel</button>
    </div>
  </fieldset>
</form>
