body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#recipes
  position: fixed
  width: 250px
  overflow-y: auto
  top: 30px
  bottom: 10px
  left: 20px
  -webkit-overflow-scrolling: touch


#new
  padding-left: 50px

#content
  margin: 20px 0 20px 320px

.recipe
  height 50px
  padding 0 15px
  line-height 50px
  border-bottom 1px solid #D2D2D1

.recipe.active
  background #94E5EC
