body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 40px;
}

@newWidth: 75%;
@headerMarginLeft: (100 - @newWidth) / 2;
#newRecipe {
  width: @newWidth;
  margin-bottom: 20px;
  margin-left: @headerMarginLeft;
}

.input-append.btn-group {
  input[type='text'] {
    float: left;
    width: 60%;
    margin-left: @headerMarginLeft;
    padding-left: 0;
    padding-right: 0;
  }
  .search {
    display: none;
  }
  .dropdown-toggle {
    width: 15%;
  }
  .dropdown-menu {
    width: @newWidth;
    left: @headerMarginLeft;
  }
  .checkbox.inline {
    padding-left: 25px;
    padding-bottom: 5px;
    width: 90%;
  }
}

#content {
  .newRecipe {
    cursor: pointer;
    border-bottom: 1px dashed #888888;
  }
}

#recipes {
  li {
    cursor: pointer;

    &.recipe {
      height: 50px;
      padding: 0 15px;
      line-height: 50px;
      border-bottom: 1px solid #D2D1D1;

      &:last-child { border-bottom: 0; }

      &.active { background: #94e5ec; }

      .remove { display: none; }

      &:hover .remove,
      &.active .remove {
        display: inline-block;
        float: right;
        margin-top: 18px;
      }
    }
  }
}

#newIngredients {
  .control-label {
    display: none;
  }

  li {
    margin-top: 3px;

    &:first-child {
      margin-top: 20px;

      .control-label {
        display: block;
      }
    }
  }
}
